.profile {
  margin: 0 auto 30px;

  width: 350px;
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(225, 225, 225);

  overflow: hidden;
}

.description {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  font-size: 20px;
  color: rgb(129, 129, 129);
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;

  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.tag {
}

.location {
}

.stats {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  background-color: rgba(233, 235, 237, 0.75);
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  font-weight: 500;
  color: rgb(129, 129, 129);
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
